@model IEnumerable<Feed.Models.FeedItemModel>
@{
    ViewData["Title"] = "Items";
}

<h1>
    <a asp-action="Index" asp-controller="Feed">Feeds</a> | @ViewData["Title"] |
    <a asp-action="Create">Create</a>
</h1>
<form asp-action="Index">
    <p>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" class="btn btn-primary" />
    </p>
</form>
<table class="table">
    <tbody>
        @foreach (var item in Model.OrderBy(x => x.Title))
        {
            @await Html.PartialAsync("~/Views/FeedItem/_FeedItem.cshtml", item)
        }
    </tbody>
</table>
